
li {float: left; margin-right: 10px; list-style-type: none;}
figure { class="left";}
body { padding: 15px; margin: 25px;}
section {border: 2px solid lightgray;}
header {text-align: center; color: blue;}
