p
{ font-color: darkgray;
}
#firstparagraph { font-size: bigger; }
p
{ line-height: 3.5 ;
}
body 
{ background-color: lightgray
}
article 
{
border-style:solid;
border-width:5px;
border-color: darkgray;
padding: 10px;
}
