font-family: "Open Sans", sans-serif
font-family: "Shadows Into Light", cursive
font-family: "Raleway", sans-serif
#head1
{font-family:"Open Sans", sans-serif;}
#head2
{font-family: "Shadows Into Light", cursive;}
#head3
{font-family: "Raleway:, sans-serif;}